:root{
    --main-bg: rgb(20, 20, 20);
    --main-pads: rgba(62, 62, 62, 0.856);
    --operator-pads: rgb(31, 31, 31);
    --clear-pad: rgb(195, 52, 52);
    --pads-font-color: rgba(255,255,255,1);
    --screen-font-color: rgb(16, 185, 231);
    --logo-color: rgb(151, 151, 151);
    --logo-font-color: rgb(236, 236, 236);
    --main-logo-font-color: rgb(25, 25, 25);
    --screen-color: rgb(17, 17, 17);
    --gear-icon-color: rgb(177, 177, 177);
    --background-color: rgb(27, 27, 27);
    --casing-border: 2px solid rgb(133, 133, 133);
    --button-border: 1px solid rgb(192, 234, 250);
    --background-image: url("./images/./22488_moody-landscape-photography_w1120.jpg");
}

body {
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    margin: 0 6%;
    display: flex;
    background-color: var(--main-bg);
    flex-direction: column;;
}

.calculator-casing {
    box-sizing: border-box;
    width: 20rem;
    aspect-ratio: 2/3;
    padding: 3rem 2.3rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1%;
    border-radius: 15px;
    border: var(--casing-border);
    background-color: var(--background-color);
    background-image: none;
}

.screen-container {
    margin: 0 auto;
    width: 100%;
    background-color: var(--screen-color);
    flex: 1 1 10%;
    display: flex;
    border-radius: 8px;
}

.screen {
    height: 100%;
    width: 100%;
    text-align: end;
    font-size: 1.3rem;
    letter-spacing: 6px;
    padding: 5px 10px;
    font-family: Orbitron;
    color: var(--screen-font-color);
}



.button-container {
    flex: 1 1 84%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}
.button-container * {
    box-sizing: border-box;
    height: 90%;
    width: 90%;
    border: var(--button-border);
    border-radius: 40%;
    background-color: var(--main-pads);
    color: var(--pads-font-color);
    padding: none;
    margin: none;
    font-size: 1.5rem;
    box-shadow: 0 0 3px rgb(1, 15, 3);
}
.operators{
    background-color: var(--operator-pads);
}

#plus-operator {
    grid-column: 4/5;
    grid-row: 4/6;
    border-radius: 20px;
}

#clear-button {
        background-color: var(--clear-pad);
}

/* INFO styles*/
.info-container {
    width: 100%;
    flex: 1 1 6%;
    font-size: 0.7rem;
    color: var(--logo-font-color);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    display: inline-block;
    background-color: var(--logo-color);
    border-top-left-radius: 5px;
    border: 3px solid var(--logo-color);
    color: var(--main-logo-font-color);
}
.edition-logo{
    display: inline-block;
    border: 3px solid var(--logo-color);
    border-left: none;
    position: relative;
    padding: 0 3px;
    left: -3px;
    border-bottom-right-radius: 5px;
    font-style: italic;
}

.settings-button {
    height: 1.6rem;
    width: 1.6rem;
}

#Layer_1 {
    fill: var(--gear-icon-color)
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin-top: 1rem;
}

#codelink {
    text-decoration: none;
}

@media (max-width: 768px) {
    .calculator-casing{
        padding: 15vw 10vw;
        width: 95vw;
        height: auto;
        aspect-ratio: 2/3;
    }

    .screen {
        font-size: 6vw;
        padding: 1vw 1vw;
        text-align: end;
    }
    .settings-button{
        width: 6vw;
    }

    .info-container{
        font-size: 2.5vw;
    }

    body{
        padding-top: 8%;
    }
}