:root{
    --main-pads: rgba(255,255,255,1);
    --operator-pads: rgba(255,255,255,1);
    --clear-pad: rgba(255,255,255,1);
    --pads-font-color: rgba(255,255,255,1);
    --screen-font-color: rgba(255,255,255,1);
    --logo-color: rgb(74, 94, 74);
    --screen-color: rgb(47, 61, 57);
    --gear-icon-color: rgba(23, 62, 66, 0.735);
}

body {
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    margin: 0 6%;
    display: flex;
}

.calculator-casing {
    box-sizing: border-box;
    width: 20rem;
    aspect-ratio: 2/3;
    background-color: red;
    padding: 3rem 2.3rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1%;
    border-radius: 15px;
    background-image: url("./22488_moody-landscape-photography_w1120.jpg");
}

.screen-container {
    margin: 0 auto;
    width: 100%;
    background-color: var(--screen-color);
    flex: 1 1 10%;
    display: flex;
    
}

.screen {
    text-align: end;
    font-size: 1.6rem;
    letter-spacing: 6px;
    padding: 5px 10px;
    font-family: Orbitron;
    color: var(--screen-font-color)
}



.button-container {
    flex: 1 1 84%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}
.button-container * {
    height: 90%;
    width: 90%;
    border: none;
    border-radius: 40%;
    background-color: rgba(53, 88, 85, 0.856);
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 0 3px rgb(1, 15, 3);
}
.operators{
    background-color: rgba(53, 79, 88, 0.856);
}

#plus-operator {
    grid-column: 4/5;
    grid-row: 4/6;
    border-radius: 20px;
}

#clear-button {
        background-color: rgba(188, 33, 33, 0.856);
}

/* INFO styles*/
.info-container {
    width: 100%;
    flex: 1 1 6%;
    font-size: 0.7rem;
    color: white;
    box-sizing: border-box;
    text-shadow: 0 0 4px black;
    display: flex;
    justify-content: space-between;
}

.main-logo {
    display: inline-block;
    background-color: var(--logo-color);
    border-top-left-radius: 5px;
    border: 3px solid var(--logo-color);
}
.edition-logo{
    display: inline-block;
    border: 3px solid var(--logo-color);
    border-left: none;
    position: relative;
    padding: 0 3px;
    left: -3px;
    border-bottom-right-radius: 5px;
    font-style: italic;
}

.settings-button {
    height: 1.6rem;
    width: 1.6rem;
}

#Layer_1 {
    fill: var(--gear-icon-color)
}

@media (max-width: 768px) {
    .calculator-casing{
        margin: auto 10%;
        padding: 15vw 10vw;
        width: 90vw;
        height: auto;
        aspect-ratio: 2/3;
    }

    .screen {
        font-size: 8vw;
        width: 100%;
        padding: 1vw 1vw;
        height: 100%;
    }
    .settings-button{
        width: 8vw;
    }

    .info-container{
        font-size: 3.5vw;
    }

    body{
        padding-top: 8%;
    }
}